



@mixin theme($theme) {
  
  .mat-tree {
    background: none;
    
    &-node {
      cursor: pointer;
    }
    
    [mattreenodepaddingindent="32"] {
      cursor: auto;
    }
    
    a {
      font-style: italic;
    }
  }
  
}

