@use 'src/styles/constants/mixins' as mix;
@use 'src/styles/core/theming';

:host {
  @include mix.cmp-host(true);
  display: flex;
  flex-flow: column nowrap;
  box-shadow: -4px 0px 20px 2px rgba($color: black, $alpha: 0.3);
  z-index: 1;
}


@mixin theme($theme) {
  $config: theming.get-color-config($theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $is-dark: map-get($config, is-dark);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  
  $background-base: map-get($background, background);
  $foreground-base: map-get($foreground, base);
  
  $bar-color: darken($background-base, 5%);

  main.main-content {
    background: $background-base;
  }
}