@use 'sass:map';
@use 'src/styles/debug' as *;
@use 'src/styles/core/theming';
@use 'src/styles/core/typography/typography-utils' as typo-utils;



@mixin color($theme) {
  $config: theming.get-color-config($theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $is-dark: map.get($config, is-dark);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);
  
  $background-base: map.get($background, background);
  $foreground-base: map.get($foreground, base);
  
  $bar-color: darken($background-base, 5%);
  
  .navbar {
    background: $bar-color;
    color: $foreground-base;
    
    div {
      background: darken($background-base, 2%);
    }
  }
  
}


@mixin theme($theme) {
  $color: theming.get-color-config($theme);
  
  @if $color != null {
    @include color($color);
  }
}

