@use 'src/styles/constants/mixins' as mix;
@use 'src/styles/extensions' as *;

:host {
  @include mix.cmp-host;
}

.navbar {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: clamp(55px, 3.5vw, 64px);
    background: transparent;
    
    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 100%;
      padding: 0 2ch;
    }
  }
}


.theme-toggle-container {
  column-gap: 1ch;
  
  mat-icon {
    @extend %f-c-row;
    font-size: 1.1rem;
  }
}
