<div class="navbar__container">
  
	<div class="navbar__container-menu">
		<button mat-icon-button (click)="toggleSideMenu()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>

	<div class="navbar__container-header">
		<b>{{ title }}</b>
	</div>

	<spacer type="horizontal"></spacer>

	<div class="navbar__container-end">
		<div class="theme-toggle-container">
			<mat-icon>{{ toggle.checked ? 'dark_mode' : 'light_mode' }}</mat-icon>
			<mat-slide-toggle class="theme-toggle" (change)="changeTheme($event)" #toggle></mat-slide-toggle>
		</div>
	</div>
  
</div>

<div *ngIf="loader.isLoading | async" class="progress-loader">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
