@use 'src/styles/constants/colors' as Clr;
@use 'src/styles/mixins' as Mix;

:host {
  @include Mix.cmp-host;
  background: Clr.$firefox-dark;
}

.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: clamp(55px, 3.5vw, 64px);
    
    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 100%;
      background: lighten(Clr.$firefox-base,10%);
      padding: 0 2ch;
      cursor: pointer;
    }
  }
}

  


