@use 'sass:map';
@use 'src/styles/mixins' as Mix;

:host {
  @include Mix.cmp-host;
}

.navbar {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: clamp(55px, 3.5vw, 64px);
    background: transparent;
    
    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 100%;
      padding: 0 2ch;
    }
  }
}


.theme-toggle-container {
  column-gap: 0px;
}
