@use 'sass:map';
@use '@angular/material' as mat;
@use 'styles/functions/functions' as Fnc;
@use 'styles/debug' as *;
@use 'styles/constants' as *;
@use 'styles/core' as core;


//# Mat Core //
@include mat.core($fontConfig);


// # Typography  //
@include core.set-typographies($fontConfig);


// # Theme  //
// - Light Theme
.theme-alternate {
  @include theme-light-theme;
}
// - Dark Theme (Default)
@include theme-dark-theme;

// @include debug-map($current-theme);
// @include debug-map($fontConfig);










//# Globals
//* ========= GLOBAL MIXINS
@include mix-no-defaults;

* {
  @include mix-scrollbar($current-theme);
}

//* ========= GLOBAL TAGS
html,
body {
	height: 100%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  /* Backup (100vh) support for Safari bug */
  min-height: -webkit-fill-available;
  overflow: hidden;
  
  app-root {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	background: unset;
	color: currentColor;
	cursor: pointer;
}

ul {
  list-style: none;
}

//* ========= GLOBAL CLASSES
main.main-content {
	display: block;
	width: 100%;
	height: 100%;
  overflow: hidden;
  // overscroll-behavior: ;
}

//* ========= ROOT
// @include theme-set-css-variables;
:root {
	/* CSS Variables */
  $primary-map: map.get($current-theme, primary);
  @include mix-map-to-css-variables($primary-map, theme);
}
